{% extends 'base.html' %} 
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
{% endblock %}

{% block title %}
Homepage
{% endblock %}


{% block content %}
<body>
  <header id="main-navigation">
    <h1><a href="{% url 'homepage' %}">Alejandra's Blog</a></h1>

      <a href="{% url 'homepage' %}">
        <img class="logo"
          src="images/alejandras-food-blog-beige.png" 
          alt="my-logo"
        />
      </a>
     
    <nav id="main-navigation">
      <ul>
        <li><a href="/posts">Posts</a></li>
      </ul>
    </nav>
  </header>
<section id="welcome">
  <header>
    <img id="logo" src="{% static 'images/alejandras-food-blog-beige.png' %}" alt="my-logo" />
  <h2>Welcome to Alejandra's blog</h2>
  </header>
  <p id="about-me">
    Hi, I'm Alejandra. I love picnics, hiking, camping and being in nature, I also enjoy reading,
    puzzles and anything about technology. Welcome to my blog so you can learn
    about my interests and projects that I'm currently working on.
  </p>
</section>

<section id="latest-posts">
  <h2 class="post-title">My Latest Posts</h2>
    <ul>
      {% for post in latest_posts %}
      <li>
        <article class="post">
        <a id="post-title" href="{% url 'post-detail-page' post.slug %}">{{ post.title }}</a>
        <img src="{{ post.image.url }}" alt="{{ post.title }}"/>
        <div class="post__content">
            <p id="post-date">{{ post.date }}</p>
            <h4><em><a href="mailto:alexvcodes@gmail.com">{{ post.author }}</a></em></h4>
            <p>{{ post.excerpt }}</p>
        </div>
        </article>
      </li>
      {% endfor %}
    </ul>
    <a id="form-actions" href="{% url 'post-create-page' %}">Create Post</a>
</section>

<section id="about">
<h2>About Me</h2>
  <p>
    I'm Alejandra. I'm a full-stack developer and love building apps and websites.I love picnics, hiking, camping and being in nature, I also enjoy reading,
    puzzles and anything about technology. Welcome to my blog so you can learn
    about my interests and projects that I'm currently working on.
  </p>
</section>

<section id="latest-comments">
  <h2 class="comment-title">My Latest Comments</h2>
    <ul>
      {% for comment in latest_comments %}
      <li>
        <article class="comment">
        <a id="comment-title" href="{% url 'post-detail-page' comment.post.slug %}">{{ comment.post.title }}</a>
        <div class="comment__content">
          <h3>{{ comment.post.title }}</h3>
            <p id="comment-date">{{ comment.date }}</p>
            <h4><em>{{ comment.author }}</em></h4>
            <p>{{ comment.content }}</p>
        </div>
        </article>
      </li>
      {% endfor %}
    </ul>
</section>
{% endblock %}
