{% extends 'base.html' %} 
{% load static %}

{% block title %}
<h2 style="margin-top: 160px">About Alejandra Valdivia</h2>
{% endblock %}


{% block content %}
<h1>This is the homepage</h1>
<p class="page-content">
  I love picnics, hiking, camping and being in nature, I also enjoy reading,
  puzzles and anything about technology. Welcome to my blog so you can learn
  about my interests and projects that I'm currently working on.
</p>
<hr />

<section>
  <h2>Recent Posts</h2>
</section>
{% endblock %}
