{% extends 'base.html' %} {% block content %}
{% load static %}

{% block title %}
<h1>About Alejandra Valdivia</h1>
<hr />
{% endblock %}

<p class="page-content">
  I love picnics, hiking, camping and being in nature, I also enjoy reading,
  puzzles and anything about technology. Welcome to my blog so you can learn
  about my interests and projects that I'm currently working on.
</p>

<hr />

<section>
  <h2>Recent Posts</h2>
  {% for post in posts %}
  <article>
    <a href="{% url 'post-detail-page' post.slug %}">
      <h3>{{post.title}}</h3>
    </a>
    <p class="page-content">{{post.excerpt}}</p>
  </article>
  {% endfor %}
</section>
{% endblock %}
