{% extends 'base.html' %} 
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/app.css' %}" />
<link rel="stylesheet" href="{% static 'css/post.css' %}" />
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
{% endblock %}

{% block title %}
Homepage
{% endblock %}


{% block content %}
<body>

<section id="welcome">
  <header id="welcome-header">
    <img id="logo" src="{% static 'images/alejandra-valdivia-headshot.jpeg' %}" alt="my-logo" />
  <h2>Welcome to Alejandra's blog</h2>
  </header>
</section>

<section id="latest-posts">
  <h2 class="post-title">My Latest Posts</h2>
    <ul>
      {% for post in latest_posts %}
      <li class="post">
        <a id="post-title" href="{% url 'post-detail-page' post.slug %}">{{ post.title }}</a>
        <img src="{{ post.image.url }}" alt="{{ post.title }}"/>
        <h3 class="post-author"><a href="mailto:alexvcodes@gmail.com"></a>{{ post.author }}</h3>
        <p>{{ post.excerpt }}</p>
        <div id="form-actions">
          <a id="button" href="{% url 'post-update-page' slug=post.slug %}">Edit</a>
          <a id="button" href="{% url 'post-delete-page' slug=post.slug %}">Delete</a>
        </div>
      </li>
      {% endfor %}
    </ul>
</section>

<section id="about">
<h2>About Me</h2>
  <p>
    I'm Alejandra. I'm a full-stack developer and love building apps and websites.I love picnics, hiking, camping and being in nature, I also enjoy reading,
    puzzles and anything about technology. Welcome to my blog so you can learn
    about my interests and projects that I'm currently working on.
  </p>
</section>


{% include 'includes/footer.html' %}
{% endblock %}
