{% extends 'base.html' %} 
{% load static %}

{% block title %}
<h1>{{post.title}}</h1>
<hr />
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/post-detail.css' %}" />
{% endblock %}

{% block content %}
   <section id="summary">
        <h2>{{post.title}}</h2>
        <article>
             <img src="{% static "images/"|add:post.image.url %}" alt="{{post.title}}" /> 
            <p><a href="{% url 'homepage' %}">Back to Home</a></p> <p>{{post.author}}</p>
            <p>{{post.content}}</p>
            <p>{{post.date|date:"d M Y"}}</p>
        </article>
    </section>

    <main>
        <p>{{post.excerpt}}</p>
</main> 

<p>We are going to post something here</p>
{% endblock %}
