{% extends 'base.html' %} {% load static %} {% block title %}
<h1>{{post.title}}</h1>
<hr />
{% endblock %} {% block css_files %}
<link rel="stylesheet" href="{% static 'css/post-detail.css' %}" />
<link rel="stylesheet" href="{% static 'css/form-actions.css' %}" />
{% endblock %} {% block content %}

<div id="form-actions">
  <a href="{% url 'post-delete-page' slug=post.slug %}">Delete</a>
  <a href="{% url 'post-update-page' slug=post.slug %}">Edit Post</a>
  <a href="{% url 'post-create-page' %}">Create Post</a>
</div>


<section id="summary">
  <h2>{{post.title}}</h2>

  <img src="{{ post.image.url }}" alt="{{ post.title }}"/>
  <p><a href="{% url 'homepage' %}">Back to Home</a></p>
  <h3><strong>{{post.author}}</strong></h3>
  <p>{{post.date|date:"d M Y"}}</p>
  <p>{{post.excerpt}}</p>
  <p>{{post.content}}</p>

</section>

{% endblock %}
