#footer {
    text-align: center;
    background-color: #ececec;
    color: white;
    padding: 20px;
}

#footer .footer-link {
    font-size: 20px;
    color: white; !important;
    text-align: center;
    text-decoration: none;
}